.anchor
.DS_Store
.devBackup
.devKeypairs
target
**/*.rs.bk
node_modules
test-ledger
.yarn
*.env
*.zip

*-keypair*
buffer-keypair.json
program-id-keypair.json
cargo.lock
yarn.lock
anrx_eur_coin-keypair.txt
